<div class="jumbotron">
    <h1>Pluralsight Downloader</h1>
    <p class="lead">
        Empty Text
    </p>
</div>
<div class="row" ng-controller="courseCtrl as vm">
    <div class="col-md-12">
        <form name="form" role="form" valid-submit="vm.loadCourseData(form.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.coursetitle.$dirty) && form.coursetitle.$invalid}">
                <label>Enter below course name or course complete url:</label>
                <br /><span class="hint">example: <b>(http://www.pluralsight.com/courses/mvc4-building)</b> OR <b>(mvc4-building)</b></span>
                <input type="text" name="coursetitle" class="form-control" ng-model="vm.courseName" placeholder="course name or course url" autofocus="true" required />
                <p ng-show="(form.$submitted || form.coursetitle.$dirty) && form.coursetitle.$error.required" class="help-block" ng-cloak>Course title is required.</p>
            </div>
            <button class="btn btn-info" type="submit"> Load course content information </button>
        </form>
        <div class="col-md-12 courses" style="margin-top:20px;" ng-show="vm.course" ng-cloak>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="bold">Title: </td>
                        <td ng-bind="vm.course.title"></td>
                    </tr>
                    <tr>
                        <td class="bold">Description: </td>
                        <td ng-bind="vm.course.description"></td>
                    </tr>
                    <tr>
                        <td class="bold">Average Rating: </td>
                        <td ng-bind="vm.course.courseRating.averageRating"></td>
                    </tr>
                    <tr>
                        <td class="bold">Number Of Raters: </td>
                        <td ng-bind="vm.course.courseRating.numberOfRaters"></td>
                    </tr>
                    <tr>
                        <td class="bold">Duration: </td>
                        <td ng-bind="vm.course.durationseconds"></td>
                    </tr>
                    <tr>
                        <td class="bold">Level: </td>
                        <td ng-bind="vm.course.level"></td>
                    </tr>
                    <tr>
                        <td class="bold">Released: </td>
                        <td ng-bind="vm.course.releaseDate | date: 'd MMM y'"></td>
                    </tr>
                </tbody>
            </table>

            <h2 class="clearfix">
                Table of contents:
                <button class="btn btn-info btn-md pull-right" ng-click="vm.addCourseToDownloadList()">
                    <span class="glyphicon glyphicon-download-alt"></span> Download the whooole course!
                </button>
            </h2>
            <uib-accordion close-others="false">
                <uib-accordion-group ng-repeat="module in vm.course.content.modules" heading="{{($index + 1) + '- ' + module.title + ' (# of clips: '+ module.clips.length +')'}}" is-open="module.isAccordionOpen">
                    <uib-accordion-heading>
                        <span ng-bind="($index + 1) + '- ' + module.title + ' (# of clips: '+ module.clips.length +')'" ng-click="toggleModuleAccordion(module)"></span>
                        <div class="pull-right btn-group btn-group-xs">
                            <button class="btn btn-success btn-xs" ng-click="vm.addModuleToDownloadList(module, $event)">Download all module clips</button>
                        </div>
                    </uib-accordion-heading>
                    <p>{{module.description}}</p>
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Duration</th>
                                <th>Free to view ?</th>
                                <th>Download</th>
                                <th width="110px" class="text-center">Already downloaded ?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="clip in module.clips">
                                <td>
                                    {{($index + 1) + '- ' + clip.title}}
                                    <span class="label label-success italic" ng-if="clip.progress.hasBeenDownloaded"><i class="glyphicon-ok glyphicon"></i> Downloaded</span>
                                    <span class="label label-default italic" ng-if="!clip.progress.hasBeenDownloaded">Not downloaded yet!</span>
                                </td>
                                <td ng-bind="clip.durationseconds"></td>
                                <td>
                                    <span class="mayview glyphicon glyphicon-ok-circle center-block text-center text-success" ng-if="clip.userMayViewClip"></span>
                                    <span class="mayview glyphicon glyphicon-ban-circle center-block text-center text-danger" ng-if="!clip.userMayViewClip"></span>
                                </td>
                                <td>
                                    <div>
                                        <button class="btn btn-success" ng-click="vm.addClipToDownloadList(clip, module)" ng-disabled="(clip.progress.isDownloading) || clip.progress.hasBeenDownloaded">
                                            <i class="glyphicon glyphicon-download"></i> Download
                                        </button>
                                    </div>
                                    <uib-progressbar value="clip.progress.percentComplete * 100" class="progress-striped">
                                        <b>{{clip.progress.percentComplete * 100 | number:0}}%</b>
                                    </uib-progressbar>
                                </td>
                                <td valign="middle" class="text-center">
                                    <div class="radio">
                                        <input type="radio" name="alreadyDownloaded{{$parent.$index + '' + $index}}" id="downloaded{{$parent.$index + '' + $index}}" ng-value="true" ng-model="clip.progress.hasBeenDownloaded" ng-disabled="(clip.progress.isDownloading)">
                                        <label for="downloaded{{$parent.$index + '' + $index}}">
                                            Yep
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="alreadyDownloaded{{$parent.$index + '' + $index}}" id="notdownloaded{{$parent.$index + '' + $index}}" ng-value="false" ng-model="clip.progress.hasBeenDownloaded" ng-disabled="(clip.progress.isDownloading)">
                                        <label for="notdownloaded{{$parent.$index + '' + $index}}">
                                            Nope
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>